/* TabBlock */

.center {
  text-align: center;
}

.brand--head {
  color: rgb(49, 53, 55);
  box-sizing: border-box;
  display: block;
  font-family: Lato !important;
  font-size: 32px;
  font-stretch: 100%;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  padding-top: 12px;
  padding-bottom: 20px;
  vertical-align: baseline;
}

.display-none {
  display: none;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

.tab-block {
  /* border: 1px solid blue; */
  margin-left: 13.5%;
  margin-right: 13.5%;
  margin-bottom: 13.5%;
}

.blocks-tabs {
  padding-top: 30px;
  padding-bottom: 30px;
}

.blocks-tabs__wrapper {
  /* border: 1px solid red; */
  border: 1px solid #ddd;
  box-sizing: border-box;
  box-shadow: 0 0.4rem 1.2rem 0.2rem rgba(0,0,0,.05);
  overflow: hidden;
  -webkit-box-shadow: 0 0.4rem 1.2rem 0.2rem rgba(0,0,0,.05);
  -webkit-box-sizing: border-box;
}

/* styling text */
.ui.bottom.attached.segment.active.tab {
  /* border: 3px solid green; */
  color: rgb(49, 53, 55);
  display: block;
  font-family: Merriweather !important;
  font-size: 16px;
  font-stretch: 100%;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  word-break: break-word;
  word-wrap: break-word;
  webkit-font-smoothing: antialiased;
}



/* hiding default scrollbar created by above */
::-webkit-scrollbar {
  display: none; /* removes element from page and takes up no space */
  /* visibility: hidden; */
  /* hides element by still takes up space  */
}

/* delete this soon, replace with below */
.chevron-icon {
  /* border: 3px solid orange; */
  background-color: rgb(116, 122, 126);
  background-image: none;
  background-origin: padding-box;
  background-position-x: 0%;
  background-position-y: 0%;
  background-size: auto;
  border-bottom-color: rgb(255, 255, 255);
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-style: none;
  border-bottom-width: 0px;
  border-image-outset: 0px;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(255, 255, 255);
  border-left-style: none;
  border-left-width: 0px;
  border-right-color: rgb(255, 255, 255);
  border-right-style: none;
  border-right-width: 0px;
  border-top-color: rgb(255, 255, 255);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-top-style: none;
  border-top-width: 0px;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: flex;
  font-family: Lato, sans-serif;
  font-size: 16px;
  font-stretch: 100%;
  font-style: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-weight: 400;
  height: 62px;
  justify-content: center;
  line-height: 24px;
  margin-bottom: 9px;
  margin-left: 9px;
  margin-right: 9px;
  margin-top: 9px;
  min-width: 44px;
  opacity: 0;
  padding: inherit;
  padding-bottom: 10px;
  padding-left: 18px; /* this is for resized viewBox in javascript */
  padding-right: 10px;
  padding-top: 10px;
  position: absolute;
  transition-delay: 0s;
  transition-duration: 0.3s;
  transition-property: opacity;
  transition-timing-function: ease;
  vertical-align: baseline;
  z-index: 1;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -webkit-font-smoothing: antialiased;
}


.chevron-icon:hover {
  opacity: 1;
}

.chevron-icon:not(.hidden) {
  opacity: 1;
}

.chevron-icon__right {
  right: 13.5%; /* 13.5% is the margin-right of .tab-block */
}

/* sizing anchor tags directly to style menu items  */
a {
  white-space: normal;
  /* white-space: pre-wrap; */
  word-wrap: normal;
  min-width: 23%; /* note: min-width becomes 30% on tablet, and 40% on mobile... */
}

/* .blocks-tabs__header-item { */
.ui.menu .item {
  /* border: 1px solid red; */
  align-items: center;
  background-attachment: scroll;
  background-clip: border-box;
  background-color: rgb(245, 245, 245);
  background-image: none;
  background-origin: padding-box;
  background-position-x: 0%;
  background-position-y: 0%;
  background-size: auto;
  border-bottom-color: rgb(221, 221, 221);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-image-outset: 0px;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(49, 53, 55);
  border-left-style: none;
  border-left-width: 0px;
  border-right-color: rgb(221, 221, 221);
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: rgb(49, 53, 55);
  border-top-style: none;
  border-top-width: 0px;
  box-sizing: border-box;
  color: rgb(49, 53, 55);
  cursor: pointer;
  display: flex;
  flex-basis: 100%;
  flex-grow: 0;
  flex-shrink: 1;
  font-family: Lato;
  font-size: 12px;
  font-stretch: 100%;
  font-style: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-weight: 700;
  height: 80px;
  justify-content: center;
  letter-spacing: 1.44px;
  line-height: 20px;
  margin: 0px;
  min-width: 23%; /* note: min-width becomes 30% on tablet, and 40% on mobile... */
  outline-offset: 0px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  text-align: center;
  text-decoration-color: rgb(49, 53, 55);
  text-decoration-line: none;
  text-decoration-style: solid;
  text-overflow: ellipsis;
  text-transform: uppercase;
  transition-delay: 0s, 0s;
  transition-duration: 0.3s, 0.3s;
  transition-property: background, border;
  transition-timing-function: ease, ease;
  vertical-align: baseline;
  word-break: break-word;
  word-wrap: break-word;
  -webkit-box-align: center;
  -webkit-box-flex: 0;
  -webkit-box-pack: center;
  -webkit-font-smoothing: antialiased;
}

/* .blocks-tabs__header-item:hover { */
.item:hover {
    background: #efefef !important;
}

/* active tab has a white bottom border */
.ui.attached.menu:not(.tabular) {
  /* border-bottom: 1px solid white; */
  /* border-bottom: 3px solid green; */
  /* border: 3px solid yellow; */
  position: relative;
  /* Make this scrollable when needed */
  overflow-x: auto;
  /* We don't want vertical scrolling */
  overflow-y: hidden;
  /* For WebKit implementations, provide inertia scrolling */
  -webkit-overflow-scrolling: touch;
  /* We don't want internal inline elements to wrap */
  white-space: nowrap;
  /* Make an auto-hiding scroller for the 3 people using a IE */
  -ms-overflow-style: -ms-autohiding-scrollbar;
  border-bottom-color: rgb(49, 53, 55);
  border-bottom-style: none;
  border-bottom-width: 0px;
  border-image-outset: 0px;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(49, 53, 55);
  border-left-style: none;
  border-left-width: 0px;
  border-right-color: rgb(49, 53, 55);
  border-right-style: none;
  border-right-width: 0px;
  border-top-color: rgb(49, 53, 55);
  border-top-style: none;
  border-top-width: 0px;
  box-sizing: border-box;
  color: rgb(49, 53, 55);
  display: flex;
  flex-wrap: nowrap;
  font-family: Lato, sans-serif;
  font-size: 16px;
  font-stretch: 100%;
  font-style: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-weight: 700 !important;
  height: 80px;
  line-height: 24px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: -1px;
  margin-top: 0px;
  min-width: 23%; /* note: min-width becomes 30% on tablet, and 40% on mobile... */
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  vertical-align: baseline;
  word-break: break-word;
  word-wrap: break-word;
  -webkit-font-smoothing: antialiased;
}

/* .blocks-tabs__header-item--active { */
.ui.menu .active.item {
  background: #fff!important;
  /* background-color: green; */
  background-color: rgb(255, 255, 255);
  color: rgb(116, 122, 126);
  border-bottom: 1px solid white;
  cursor: default!important;
  display: flex;
  flex-basis: 100%;
  flex-grow: 0;
  flex-shrink: 1;
  font-stretch: 100%;
  font-weight: 700;
  height: 80px;
  justify-content: center;
  letter-spacing: 1.44px;
  line-height: 20px;
  min-width: 23%; /* note: min-width becomes 30% on tablet, and 40% on mobile... */
  padding-bottom: 10px;
  padding-left: 20px; /* note: padding left and right become 5px on mobile... */
  padding-right: 20px;
  padding-top: 10px;
  text-align: center;
  text-decoration-color: rgb(116, 122, 126);
  text-decoration-line: none;
  text-decoration-style: solid;
  text-overflow: ellipsis;
  text-transform: uppercase;
  transition-delay: 0s, 0s;
  transition-duration: 0.3s, 0.3s;
  transition-property: background, border;
  transition-timing-function: ease, ease;
  vertical-align: baseline;
  word-break: break-word;
  word-wrap: break-word;
  -webkit-box-align: center;
  -webkit-box-flex: 0;
  -webkit-box-pack: center;
  -webkit-font-smoothing: antialiased;
}

.ui.segment {
  padding-top: 20px;
  padding-bottom: 35px;
  padding-left: 30px;
  padding-right: 30px;

}


/* using same class name for images */
.figure-image__image {
  max-width: 100%;
  max-height: 38rem;
  cursor: zoom-in;
  transform: scale3d(1, 1, 1);
  /* visibility: hidden; */
  /* add above when clicked... */
}


/* add below, fix animation effect... */
.figure-image__image--zoom {
  cursor: zoom-out;
  position: absolute;
  /* transition: transform 300ms; */
  transform: translate(-50%, -50%);
  /* transform: scale3d(1.3, 1.3, 1.3); */
  /* transform: translate3d(40.3438px, -178px, 0px) scale(0.596782); */
  /* transform: translate3d(40.3438px, -178px, 0px) scale(0.596782); */
  transform-origin: center center 0px;
  /* will-change: transform, top, left; */
  /* top: 109px; */
  /* left: 297.156px; */
  /* width: 619px; */
  /* height: 380px; */
  top: 50%;
  left: 50%;
}

.ui.attached.segment {
  border-bottom: none;
}


/* tablet screens */
@media (max-width:840px) {
  .App {
    /* background-color: yellow; */
  }

  .tab-block {
    /* border: 1px solid blue; */
    margin-left: 3.5%;
    margin-right: 3.5%;
    margin-bottom: 3.5%;
  }

  .chevron-icon__right {
    right: 3.5%; /* 13.5% is the margin-right of .tab-block */
  }
}

@media (max-width:720px) {
  .App {
    /* background-color: red; */
  }

  a {
    min-width: 30%;
  }

  .ui.menu .item {
    min-width: 30%;
  }

  .ui.menu .active.item {
    min-width: 30%;
  }
}





/* mobile screens  */
@media (max-width:480px) {

  .App {
    /* background-color: blue; */
  }

  a {
    min-width: 40%;
  }

  .ui.menu .item {
    padding-left: 5px;
    padding-right: 5px;
    min-width: 40%;
  }

  .ui.menu .active.item {
    padding-left: 5px;
    padding-right: 5px;
    min-width: 40%;
  }

}
