/* TabBlock */

* {
  font-family: Merriweather !important;
}

.center {
  text-align: center;
}

.tab-block {
  border: 1px solid blue;
  margin-left: 18%;
  margin-right: 18%;
}

.blocks-tabs__wrapper {
  border: 1px solid #ddd;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0 0.4rem 1.2rem 0.2rem rgba(0,0,0,.05);
  box-shadow: 0 0.4rem 1.2rem 0.2rem rgba(0,0,0,.05);
}

/* active tab has a white bottom border */
.ui.attached.menu:not(.tabular) {
  border-bottom: 1px solid white;
  /* border-bottom: 3px solid green; */

  /* --- code below found online, on benfrain.com ---  */
  /* Make this scrollable when needed */
  overflow-x: auto;
  /* We don't want vertical scrolling */
  overflow-y: hidden;
  /* For WebKit implementations, provide inertia scrolling */
  -webkit-overflow-scrolling: touch;
  /* We don't want internal inline elements to wrap */
  white-space: nowrap;
  /* Make an auto-hiding scroller for the 3 people using a IE */
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

/* hiding default scrollbar created by above */
::-webkit-scrollbar {
    display: none;
    /* removes element from page and takes up no space */
    /* visibility: hidden;  */
    /* hides element by still takes up space  */
}

/* delete this soon, replace with below */
.chevron-icon {
  border: 3px solid orange;
  position: absolute;
  display: flex;
  z-index: 1;
}

.chevron-icon__right {
  right: 18%; /* 18% is the margin-right of .tab-block */
}


/* arrow on hover over menu */
.blocks-tabs__arrow {
    position: absolute;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    top: .9rem;
    bottom: .9rem;
    padding: 1rem;
    min-width: 4.4rem;
    color: #fff;
    cursor: pointer;
    opacity: 0;
    -webkit-border-radius: .3rem;
    border-radius: .3rem;
    background: #50abf1;
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
    z-index: 1;
}

/* add all this stuff for different size screens:::: */
/* add all this stuff for different size screens:::: */
/* add all this stuff for different size screens:::: */
/* add all this stuff for different size screens:::: */
@media (min-width: 45em)
/* .blocks-tabs__header-item { */
.ui.menu .item {
    padding: 1rem 2rem;
    min-width: 23%;
}

@media (min-width: 30em)
.ui.menu .item {
    padding: 1rem 2rem;
    min-width: 30%;
}

/* .blocks-tabs__header-item { */
.ui.menu .item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 100%;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
    min-width: 40%;
    padding: 1rem .5rem;
    /* height: 8rem; */
    /* ~~~~~~~~~~~~~~~~~~~ note ---- taking out height above for now, will put back later..... */
    /* border: 1px solid red; */
    border: none;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background: #f5f5f5;
    color: #313537;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    font-size: 1.2rem;
    line-height: 1.66667;
    font-weight: 700;
    letter-spacing: .12em;
    word-break: break-word;
    text-overflow: ellipsis;
    -webkit-transition: background .3s,border .3s;
    transition: background .3s,border .3s;
    outline-offset: -.3rem;
}

/* .blocks-tabs__header-item--active { */
.ui.menu .active.item {
    background: #fff!important;
    /* background: green; */
    border-bottom: 1px solid white;
    cursor: default;
}

/* using same class name for images */
.figure-image__image {
    max-width: 100%;
    max-height: 38rem;
}
